<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "Sites", sites_path %></li>
          <li><%= link_to "Employees", employees_path %></li>
          <li><%= link_to "Mark Attendance", attendances_path %></li>
          <li><%#= link_to "Trip Record", trip_records_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= drop_down "#{current_user.try(:email).try(:capitalize)} " do %>
              <%= menu_item "Log Out", destroy_user_session_path, method: :delete, class: "logout"%>
            <% end %>    
          </li>
        <% else %>
          <li><%= menu_group  do %>
            <%= menu_item "Log In", new_user_session_path %>
          <% end %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

