<%- model_class = Attendance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <h3>Date :- <%= Date.current %></h3>
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:employee_name) %></th>
        <th><%= model_class.human_attribute_name(:status) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th> 
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr id="<%= employee.id %>">
          <%= render "attendances/employee_details", employee: employee %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>